@import url('https://fonts.googleapis.com/css?family=Quicksand');
/* --- font-family: 'Quicksand', sans-serif; --- */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');
/* --- font-family: 'Playfair Display', serif; ---*/

@import 'owl.carousel.min.css';
@import 'icon.css';

*,body {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: normal;
	overflow:hidden;
}
body {
	background: #040404;
}
p {
	font-size: 0.8rem;
	line-height: 1.6;
	padding: 10px 0;
}
ul,ol { padding: 0; margin: 0; }
h1,h2,h3,h4,h5,h6 { color: #ffc815; font-family: 'Playfair Display', serif; }
h1 { font-size: 60px; line-height: 70px; }
h2 { font-size: 50px; line-height: 70px; }
h3 { font-size: 40px; line-height: 70px; }
h4 { font-size: 30px; line-height: 70px; }
h5 { font-size: 20px; line-height: 70px; }
h6 { font-size: 18px; line-height: 70px; }

.white-color h1, .white-color h2, .white-color h3, .white-color h4, .white-color h5, .white-color h6, .white-color span, .white-color strong, .white-color a, .white-color p, .white-color label, .white-color pre, .white-color { color: #ffffff; }
.bg-img { background-repeat: no-repeat; background-position: center center; background-size: cover; }
/* Go Top CSS */
.go-up { background: #b48f2e; bottom: 5px; cursor: pointer; width: 45px; height: 45px; line-height: 40px; position: fixed; right: 20px; bottom: -60px; text-align: center; z-index: 999; transition: all 0.5s ease-in-out; border-radius: 50px 50px 0px 0px; -moz-border-radius: 50px 50px 0px 0px; -webkit-border-radius: 50px 50px 0px 0px; }
.go-up img { padding-top: 14px; max-width: 12px; width: 100%; }
.go-up:hover {
    transition: all 0.3s ease-in-out;
    background-color: #323d53;
	height: 50px;
}
/* ~~~~~~~~~~ Flex Grid ~~~~~~~~~~ */
.col {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 0; -ms-flex: 0 1 auto; flex: 0 1 auto; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
.flex-end {-webkit-box-align: end; -ms-flex-align: end; align-items: flex-end }
.flex-start {-webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
.flex-center {-webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.flex-item { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; padding-left: 15px; padding-right: 15px; }
.col-1{-ms-flex-preferred-size:8.33333333%; flex-basis:8.33333333%; max-width:8.33333333% }
.col-2{-ms-flex-preferred-size:16.66666667%; flex-basis:16.66666667%; max-width:16.66666667% }
.col-3{-ms-flex-preferred-size:25%; flex-basis:25%; max-width:25% }
.col-4{-ms-flex-preferred-size:33.33333333%; flex-basis:33.33333333%; max-width:33.33333333% }
.col-5{-ms-flex-preferred-size:41.66666667%; flex-basis:41.66666667%; max-width:41.66666667% }
.col-6{-ms-flex-preferred-size:50%; flex-basis:50%; max-width:50% }
.col-7{-ms-flex-preferred-size:58.33333333%; flex-basis:58.33333333%; max-width:58.33333333% }
.col-8{-ms-flex-preferred-size:66.66666667%; flex-basis:66.66666667%; max-width:66.66666667% }
.col-9{-ms-flex-preferred-size:75%; flex-basis:75%; max-width:75% }
.col-10{-ms-flex-preferred-size:83.33333333%; flex-basis:83.33333333%; max-width:83.33333333% }
.col-11{-ms-flex-preferred-size:91.66666667%; flex-basis:91.66666667%; max-width:91.66666667% }
.col-12{-ms-flex-preferred-size:100%; flex-basis:100%; max-width:100% }
/* ~~~~~~~~~~ / Flex Grid ~~~~~~~~~~*/
.parallax {min-height: 100vh; }
/* ======================================
			Home Intro section
   ====================================== */
.Home-intro {
	position: fixed;
	top:0;
	left:0;
	right: 0;
	width: 100%;
	min-height: 100vh;
	z-index: 20000;
}
.Home-intro.intro-up {
	top: -100vh;
}
.Home-intro{
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#top-image {
	background:url(../images/hero-banner.jpg) -25px -50px;
	background: #000;
	top:0;
	width:100%;
	z-index:0;
	height:100vh;
	background-attachment: fixed;
	background-size: calc(100% + 50px);
}
.hero-banner video {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	width: 100%;
}
.personal-image {
	height: 150px;
	width: 150px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 50%;
	border: 4px solid rgba(255,255,255,0.4);
	background-color: rgba(204,204,204,1);
	margin:0 auto;
	position:relative;
	z-index: 2;
}
.down-arrow {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 500;
}
.top-line {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto; 
	width: 4px;
	z-index: 1;
	height: 0vh;
	background: rgba(255,255,255,0.7);
	-webkit-animation: line 1s ease forwards;
	        animation: line 1s ease forwards;

}
@keyframes line {
	0%   { height: 0vh;	}
	100% { height: 40vh; }
}
@-webkit-keyframes line {
	0%   { height: 0vh;	}
	100% { height: 40vh; }
}

.down-arrow a {
	display:inline-block;
	height: 45px;
	width: 25px;
	border-radius: 20px;
	border: 2px solid rgba(255,255,255,0.6);
	overflow: visible;
	position:relative;
}
.down-arrow a:hover {
	border-color: #ffffff;
}

.down-arrow a:before {
	content:' ';
	height: 6px;
	width: 6px;
	background: rgba(255,255,255,0.6);
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 50%;	
	-webkit-animation: down 2s infinite;
            animation: down 2s infinite;
}
@keyframes down {
	 0% { bottom: 10px; }
	20% { bottom: 15px; }
	30% { bottom: 20px; }
	40% { bottom: 25px; }
	50% { bottom: 20px; }
	60% { bottom: 15px; }
	70% { bottom: 10px; }
	80% { bottom: 18px; }
	90% { bottom: 14px; }
	100%{ bottom: 10px; }
}
/* =============================
           Menu CSS
   ============================= */
.menu-icon {display: none; cursor: pointer; color: #fff; text-transform: uppercase; text-align: center; font-weight: bold; line-height: 33px; font-size: 22px; padding: 10px 0; }
.menu-icon .menu-box {width: 42px; height: 38px; margin-right: 10px; padding: 5px; position: absolute; right: 0; top: 0; }
.menu-icon .menu-box span {width: 100%; height: 3px; margin-bottom: 6px; background: #fff; display: block; border-radius: 0; transition: all 0.5s; -webkit-transition: all 0.5s; }
.menu-icon.active span:nth-child(1) {transform: rotate(45deg) translateY(7px) translateX(6px); -webkit-transform: rotate(45deg) translateY(7px) translateX(6px); }
.menu-icon.active span:nth-child(2) {opacity: 0; }
.menu-icon.active span:nth-child(3) {transform: rotate(-45deg) translateY(-7px) translateX(6px); -webkit-transform: rotate(-45deg) translateY(-7px) translateX(6px); }
/*.menu-icon.hover:not(.active) span:nth-child(3) {
    transform: rotate(-90deg) translateX(6px);
    -webkit-transform: rotate(-90deg)  translateX(6px);
}*/
.enumenu_ul .caret {color: #fff; margin-left: 7px; }
.enumenu_ul {padding: 0px; list-style: none; }
.enumenu_ul > li {/*display: inline-block;*/ float: left; vertical-align: top; padding-bottom: 23px; position: relative }
.enumenu_ul > li:hover > a, .enumenu_ul > li.active > a {background: #e6b705 none repeat scroll 0 0; }
.enumenu_ul > li ul {display: none }
.enumenu_ul ul li {margin: 0; list-style: none; position: relative; display: inline-block; vertical-align: top; padding-bottom: 0; }
.enumenu_ul.desk ul li:last-child > a {padding-right: 0; }
.enumenu_ul.desk ul {list-style: none; padding: 0; }
/*Sub menu styles*/
.menu.submenu-ul-level1 li a {background: rgba(31, 26, 107, 0.8); color: #fff; padding-left: 90px; }
.enumenu_ul.desk li > ul { margin-left: 10px; }
.enumenu_ul.desk li:hover > ul {display: block; opacity: 1; }
.enumenu_ul.desk .sb-menu .sb-menu {left: 100%; top: 0; }
.enumenu_ul.desk ul li a { padding: 15px 10px; display: block; color: #fff; font-size: 13px; letter-spacing: 1px; text-align: center; font-weight: 600; text-transform: uppercase; }
.logo a { width: 80px; display:block; margin:0 auto; }
.logo a img { width: 100%; }
.logo a,.enumenu_ul.desk ul li > a{
  -webkit-transition: all 0s ease-in-out;  -moz-transition: all 0s ease-in-out;  -o-transition: all 0s ease-in-out;  -ms-transition: all 0s ease-in-out;  transition: all 0s ease-in-out; }
.enumenu_ul.desk ul li.has-children > a { padding-right: 12px; }
.enumenu_ul.desk ul li.active > a , .enumenu_ul.desk ul li:hover > a {color: #edc8a2; }
.enumenu_ul .arrow {position: absolute; right: 10px; top: 10px; width: 30px; height: 30px; background: url(../images/menu-arrow.svg) center center no-repeat; background-size: 14px; cursor: pointer; z-index: 999; }
.enumenu_ul .arrow.up {-webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); }
.enumenu_ul .arrow, .enumenu_ul .arrow.up {-webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
.enumenu_ul .sb-menu {position: absolute; left: 0; top: 100%; z-index: 50; width: 204px; background: rgba(25,50,47,0.7); }
.header-sticky .enumenu_ul .sb-menu { background: rgba(25,50,47,0.96); }
.enumenu_ul .sb-menu li {display: block; width: 100%; text-align: left; border-bottom: 1px solid rgba(255,255,255,0.5); }
.enumenu_ul .sb-menu li:last-child { border: none; } 
.enumenu_ul.desk ul li ul li a { padding: 10px 15px; }
.enumenu_ul .sb-menu li a { padding: 10px; text-transform: capitalize; }
.enumenu_ul ul { margin-left: 0; padding: 0; }
/* ===================================
                End Menu
   =================================== */
/* --- Menu Arrow --- */
.has-children > a:before {content: ''; position: absolute; right: -3px; top: 42px; background: url(../images/menu_arrow.svg) center center no-repeat; height: 12px; width: 12px; background-size: 10px; }
/* Scroll To slide Down Animation Header */
.header.header-sticky .headerbar {  position: fixed; top: 0; left: 0; right: 0; z-index: 1000; width: 100%; height: auto; animation: 0.5s slideDown; -webkit-animation: 0.5s slideDown; -moz-animation: 0.5s slideDown; -o-animation: 0.5s slideDown; -ms-animation: 0.5s slideDown; -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.08); -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.08); box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.08); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
 @-webkit-keyframes slideDown {
     0% {transform: translateY(-100%); }
     100% {transform: translateY(0%); }
}
 @-moz-keyframes slideDown {
     0% {transform: translateY(-100%); }
     100% {transform: translateY(0%); }
}
 @-o-keyframes slideDown {
     0% {transform: translateY(-100%); }
     100% {transform: translateY(0%); }
}
 @keyframes slideDown {
     0% {transform: translateY(-100%); }
     100% {transform: translateY(0%); }
}
/* Scroll To slide Down Animation Header */

.header {
	min-height: 100vh;
	background: rgba(0,0,0,1);
	color: #fff;
	width: 250px;
	text-align: center;
	flex-wrap: wrap;
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	z-index: 500;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
        flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}
.header ul li a { color: #fff; }
.display-flex { display: flex; align-items: center; }
.logo { align-self: flex-start; width: 100%; padding-top: 100px;}
.social-media { align-self: flex-end; width: 100%; }
.menu { align-self: center; width: 100%; }
.social-media li { align-items: center; }
.logo a { font-size: 30px; text-transform: uppercase; text-decoration: none; color: #ffc815; }
.social-media li a {
	display:block;
	padding: 10px;
	align-items: center; 
}
.enumenu_container { width: 100%; }
.enumenu_container ul li { display: block; width: 100%; text-align:center }
.header ul li a:hover { color: #ffc815; }
.min-header:hover {
	background: #F93;
}

.menu ul li a {
	font-size: 18px;
	text-decoration: none;
	padding: 8px;
	display: block;
	position: relative;
}
.menu ul li a:hover {
	color: #ffc815;
}
.menu ul li {
	position: relative;
}
.menu ul li:after {
	height: 1px;
	background: rgba(255,255,255,0.05);
	content: ' ';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 80%;
	margin: 0 auto;
}
.menu { position: relative; }
.menu:before {
	height: 1px;
	background: rgba(255,255,255,0.05);
	content: ' ';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 80%;
	margin: 0 auto;
	
}
.display-inline li {
	display: inline-block;
	vertical-align: middle;
}
.social-media {
	padding-bottom: 25px;
}
.menu ul li a { position: relative; }
.menu ul li a:before {
	height: 1px;
	width: 80%;
	background: rgba(255,255,255,0.05);
	content: ' ';
	position: absolute;
	top: 0;	
	left: 0;
	right: 0;
	right: -450px;
	top: -50px;	
	display: block;
	margin: 0 auto;
	transform-origin: top left;
	transform: rotate(0deg);
	opacity: 0;
}
.menu ul li a:after {
	height: 1px;
	width: 80%;
	background: rgba(255,255,255,0.05);
	content: ' ';
	position: absolute;
	top: 0;	
	left: 0;
	right: 0;
	display: block;
	margin: 0 auto;
	left: -450px;
	top: -50px;	
	transform-origin: bottom right;
	transform: rotate(0deg);
	opacity: 0;
}

.menu ul li a:hover:after { background: rgba(255,200,21,0.2); transform: rotate(-10.8deg); left: 0; top: 0; opacity: 1;}
.menu ul li a:hover:before { background: rgba(255,200,21,0.2); transform: rotate(10.8deg); right: 0; top: 0; opacity: 1;}

.menu ul li a:hover:after,
.menu ul li a:hover:before,
.menu ul li a,
.menu ul li a:hover,
.menu ul li a:after,
.menu ul li a:before {
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
    	 -o-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
		    transition: all 0.3s ease-in-out;
}


.hero-banner {
	display: table;
	width: 100%;
	overflow:hidden;
	position:relative;
}
.hero-banner:before {
	content: ' ';
	background: rgba(0,0,0,0.5);
	position:absolute;
	top:0;
	left:0;
	right:0;
	z-index:10;
	width: 100%;
	height:100%;
}
#myVideo {
   position: absolute;
   padding: 30px;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: calc(100% - 60px;);
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}



#Customer_logo,
#HeroSlider,
#Products { position:relative; z-index: 100; background:#fff; }

.banner-contain {
	text-align: center;
	position:relative;
	z-index:11;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
.banner-text {
	max-width: 1000px;
	text-align: center;
	margin: 0 auto;
	width: 100%;
}
.wrapper-right {
	padding: 30px;
	padding-left: 280px;
}
.hero-banner .full-screen {
	height: calc(100vh - 60px);
}


/**/
.show-home .social-media ul li,
.show-home .logo a,
.show-home .menu ul li {
	position: relative;
	-webkit-animation: mymove 0.4s ease-in-out forwards; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 0.4s ease-in-out forwards; /* Safari 4.0 - 8.0 */
    animation: mymove 0.4s ease-in-out forwards;
    animation-delay: 0.4s ease-in-out forwards;
	-webkit-transform:scale(1.1) translateY(-24px);
        -ms-transform:scale(1.1) translateY(-24px);
        transform:scale(1.1) translateY(-24px); 
		opacity: 0;		
}
@keyframes mymove {
    0% {
		opacity: 0;		
		-webkit-transform:scale(1.1) translateY(-24px);
        -ms-transform:scale(1.1) translateY(-24px);
        transform:scale(1.1) translateY(-24px);
	}
    100% {
		opacity: 1;
		-webkit-transform:scale(1) translateY(1px);
        -ms-transform:scale(1) translateY(1px);
        transform:scale(1) translateY(1px);
	}
}

.menu ul li:nth-child(1)  { animation-delay: 1.4s; }
.menu ul li:nth-child(2)  { animation-delay: 1.6s; }
.menu ul li:nth-child(3)  { animation-delay: 1.8s; }
.menu ul li:nth-child(4)  { animation-delay: 2.0s; }
.menu ul li:nth-child(5)  { animation-delay: 2.2s; }
.menu ul li:nth-child(6)  { animation-delay: 2.4s; }
.menu ul li:nth-child(7)  { animation-delay: 2.6s; }
.menu ul li:nth-child(8)  { animation-delay: 2.8s; }
.menu ul li:nth-child(9)  { animation-delay: 3.0s; }
.menu ul li:nth-child(10) { animation-delay: 3.2s; }

.logo a { animation-delay: 0.2s; }
.social-media ul li:nth-child(1) { animation-delay: 2.2s; }
.social-media ul li:nth-child(2) { animation-delay: 2.4s; }
.social-media ul li:nth-child(3) { animation-delay: 2.6s; }
.social-media ul li:nth-child(4) { animation-delay: 2.8s; }

/* ----- Banner Text Animation ----- */
.banner-text { position: relative; }
.banner-text h1 a { text-decoration:none; }
.banner-text h1 span { color:#ffc815; font-size:50px; font-family: 'Playfair Display', serif; } 
.banner-text h1 { color: #ffc815; }
.banner-text h5 { color: #ffffff; padding-top: 15px; font-size: 20px; line-height: 1.8rem; }
.parallax-inner:before {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	content: ' ';
	background: rgba(0,0,0,0.4);
}
.preloader { display: none; }
.loader {
	position: fixed;
	background: #080f1f;
	color: #ffffff;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99999;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	flex-direction: column;
}

.section-link {
	position: relative;
	left: 0;
	top: 0;
	z-index: 20;
 }

.menu-box { display:none }

.full-screen { height: 100vh; }








/* ----- Loader -------- */
.container {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  filter: url('#goo');
  animation: rotate-move 2s ease-in-out infinite;
}

.dot { 
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.dot-3 {
  background-color: #f74d75;
  animation: dot-3-move 2s ease infinite, index 6s ease infinite;
}

.dot-2 {
  background-color: #10beae;
  animation: dot-2-move 2s ease infinite, index 6s -4s ease infinite;
}

.dot-1 {
  background-color: #ffe386;
  animation: dot-1-move 2s ease infinite, index 6s -2s ease infinite;
}

@keyframes dot-3-move {
  20% {transform: scale(1)}
  45% {transform: translateY(-18px) scale(.45)}
  60% {transform: translateY(-90px) scale(.45)}
  80% {transform: translateY(-90px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-2-move {
  20% {transform: scale(1)}
  45% {transform: translate(-16px, 12px) scale(.45)}
  60% {transform: translate(-80px, 60px) scale(.45)}
  80% {transform: translate(-80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-1-move {
  20% {transform: scale(1)}
  45% {transform: translate(16px, 12px) scale(.45)}
  60% {transform: translate(80px, 60px) scale(.45)}
  80% {transform: translate(80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes rotate-move {
  55% {transform: translate(-50%, -50%) rotate(0deg)}
  80% {transform: translate(-50%, -50%) rotate(360deg)}
  100% {transform: translate(-50%, -50%) rotate(360deg)}
}

@keyframes index {
  0%, 100% {z-index: 3}
  33.3% {z-index: 2}
  66.6% {z-index: 1}
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	.....................:: RESPONSIVE CSS  ::.....................
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media(max-width: 1200px){
	
}

@media(max-width: 991px){
	.menu-box { display:block; }
	.enumenu_ul li a { font-size: 16px; color: #fff; padding: 15px; display: block; letter-spacing: 1px; }
    .services-detail a.pba-detail {border-bottom: 2px solid #d3d9da; }
    .enumenu_ul > li {width: 100%; margin: 0px; padding: 0px; }
    .enumenu_ul > li > a {display: block; text-align: center; padding: 8px }
    .enumenu_ul {position: absolute; left: 0; right: 0; top: 100%; margin-top: 20px; background: #3d5350; width: 100%; overflow: auto; max-height: calc(100vh - 100px); }
    .menu-open { overflow: hidden; }
    .enumenu_ul > li ul {background: #D1D1D1; }
    .enumenu_ul > li ul a {text-align: center; display: block; text-align: center; color: #000; padding: 5px 0; }
    .enumenu_ul ul li:last-child { border: none; }
    /* Push Menu */
    body.menuslide_push {position: relative; }
    body.menuslide_push.slidemenuLeft {left: 0; transition: left 0.5s; -webkit-transition: left 0.5s; -moz-transition: left 0.5s; -ms-transition: left 0.5s; -o-transition: left 0.5s; }
    body.menuslide_push.slidemenuRight {right: 0; transition: right 0.5s; -webkit-transition: right 0.5s; -moz-transition: right 0.5s; -ms-transition: right 0.5s; -o-transition: right 0.5s; }
    body.slidemenuRight .enumenu_ul {right: -300px; }
    body.slidemenuRight.menu-open .enumenu_ul {right: 0; }
    body.slidemenuLeft .enumenu_ul {left: -300px; }
    body.slidemenuLeft.menu-open .enumenu_ul {left: 0; }
    body.menuslide_push.slidemenuLeft.menu-open {left: 300px }
    body.menuslide_push.slidemenuRight.menu-open {right: 300px }
    body.menuslide_push .enumenu_ul,body.menuOverlap .enumenu_ul {background: #000000 none repeat scroll 0 0; display: block; height: 100%; max-height: 100%; width: 100%; overflow: auto; position: fixed; transition: all 0.5s ease 0s; max-width: 300px; top: 0;   }
    .enumenu_ul .sb-menu { position: relative; width: 100%; }
    .enumenu_ul ul li { display: block; border-bottom: 1px solid #ffffff; overflow: hidden; }
    .enumenu_ul .sb-menu li { border: none; padding-left: 30px; }
    /* Menu */
}



/* ===== Into Animation ===== */
.moon { height: 150px; width: 150px; background: #ffffff; position: absolute; top: 20%; left:25%; border-radius: 50%; z-index:6; }
.clouds {
	position:absolute;
	z-index:10;
	height: 500px;
	width: 100%;
	background-repeat:repeat-x;
	-webkit-animation: clouds 50000s ease infinite;
  			animation: clouds 50000s ease infinite;	
} 
.stars {
	position: absolute;
	top:0;
	left:0;
	z-index: 5;
	height: 100vh;
	width: 100%;
	-webkit-animation: star 10000s ease infinite;
  			animation: star 10000s ease infinite;	
}
@keyframes star {
	0% { background-position: 0% 0%; }
	100% { background-position: 0% -100000%; }
}

@keyframes clouds {
	0% { background-position: 0%; }
	100% { background-position: -1000000%; }
}

.tubleweed {
	position: fixed;
	bottom: 18px;
	left: 100%;
	-webkit-animation: tube-well 40s ease infinite;
  			animation: tube-well 40s ease infinite;
}
@keyframes tube-well {
	0% { left: 100% }
	100% { left: 0; }
}
.tubleweed img {
	-webkit-animation: well 2s ease infinite;
  			animation: well 2s ease infinite;
}
@keyframes well {
	0% { transform:rotate(0); }
	100% { transform:rotate(-360deg); }
}